html, body {
	color: #333;
}

body {
	padding: 70px 0 32px;
	position: relative;
}

.mt16 {
	margin-top: 16px;
}

a:not([data-toggle]) {
	color: black;
	background-color: #e6c9bb;
	padding: 2px 6px;
}

a[data-toggle] {
	color: #c5aa9e;
}

a:not([data-toggle]):hover,
a:not([data-toggle]):focus {
	background-color: #c5aa9e;
	color: white;
}

p {
	max-width: 780px;
}

h1 {
	font-family: 'Sacramento', cursive;
	background-color: #e6c9bb;
	text-align: center;
	padding: 8px; 
}

textarea {
	resize: vertical;
}

input:focus,
select:focus {
  border: 2px solid #333;
}

input.error,
select.error,
input.error:focus,
select.error:focus {
  border: 2px solid #c83039;
}

.error {
	color: #c83039;
}

.error .radio,
.error h5,
.error label:not(.error) {
	color: #333;
}

.error input[type='radio']:after {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 100%;
    top: 0px;
    left: 0px;
    position: relative;
    display: inline-block;
    visibility: visible;
    border: 2px solid #c83039;
}

.navbar-inverse {
    background-color: #e6c9bb;
    border-color: #c5aa9e;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #c5aa9e;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:focus, 
.navbar-inverse .navbar-nav > .active > a:hover {
	background-color: #c5aa9e;
	color: white;
}

.page-header.no-bdr {
    border-bottom: none;
}

.additional-section {
	display: none;
}

.babychair-wrapper {
	display: none;
	margin-top: 16px;
}

.guest1,
.guest2,
.guest3,
.guest4 {
	display: none;
}

[class^="guest"] h4 {
	background-color: #e6c9bb;
	color: #333; 
	display: inline-block;
	padding: 8px;
}

.btn-primary {
	background-color: #e6c9bb;
	border-color: #c5aa9e;
	color: #333;
	font-weight: bold;
	transition: background-color 0.5s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active {
	background-color: #c5aa9e;
	border-color: #c5aa9e;
	outline: 0;
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1031;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay:before {
	content: "";
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
    height: 100%;
    position: absolute;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

/* LOADER 1 */

#loader-1:before, 
#loader-1:after {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 8px solid transparent;
	border-top-color: #c5aa9e;
}

#loader-1:before {
	z-index: 100;
	animation: spin 1s infinite;
}

#loader-1:after {
	border: 8px solid #f1f1f1;
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}